<template>

    <div class="container-plain d-flex flex-wrap justify-content-center align-items-center m-0 px-3 py-5">
        <div class="col-12 col-lg-6 mt-3">
            <card-container class="d-flex justify-content-center" width="100%" height="180px">
                <h4 class="title-card">Cantidad de Participantes</h4>
                <span class="info-card mt-3">{{this.participantsSurvey}}</span>
            </card-container>
        </div>
        <div class="col-12 col-lg-6 mt-3">
            <card-container class="d-flex justify-content-center" width="100%" height="180px">
                <h4 class="title-card">Encuestas Respondidas</h4>
                <span class="info-card mt-3">{{this.totalSurveyReplies}}</span>
            </card-container>
        </div>
        

        <div class="col-12 col-lg-4">
            <card-container class="d-flex flex-wrap justify-content-center" width="100%" height="500px">
                <div class="w-100 text-center">
                    <h4 class="title-card">Tiempo Promedio de Uso</h4>
                </div>
                <div class="w-100 m-0 p-0">
                    <chart-bar v-if="loadedBarData" :options="barLabels"  :chartdata="barValues" backgroundColor="#4FFCE4" label="Promedios de Tiempos"/>
                </div>
                
            </card-container>
        </div>

        <div class="col-12 col-lg-4">
            <card-container class="d-flex flex-wrap justify-content-center" width="100%" height="500px">
                <div class="w-100 text-center">
                    <h4 class="title-card">Favoritismo en Redes</h4>
                </div>
                <div class="w-100 m-0 p-0">
                    <chart-pie  v-if="loadedPieData" :options="pieLabels"  :chartdata="pieValues" />
                </div>
            </card-container>
        </div>

        <div class="col-12 col-lg-4">
            <card-container class="d-flex flex-wrap justify-content-center" width="100%" height="500px">
                <div class="w-100 text-center">
                    <h4 class="title-card">Rangos de Edades</h4>
                </div>
                <div class="w-100 m-0 p-0">
                    <!-- <chart-bar v-if="loadedBarData2" :options="barLabels2"  :chartdata="barValues2" backgroundColor="#ADEA48" label="Rango de Edades"/> -->
                    <chart-horizontal-bar v-if="loadedBarData2" :options="barLabels2"  :chartdata="barValues2" backgroundColor="#ADEA48" label="Participantes dentro del Rango(%)" /> 
                </div>
                
            </card-container>
        </div>

    </div>

</template>

<script>
import { ChartPie, CardContainer,ChartBar, ChartHorizontalBar } from '../components'

export default{
    name:'stadistics',
    components:{
        CardContainer,
        ChartPie,
        ChartBar,
        ChartHorizontalBar
    },
    data(){
        return{
            loadedPieData:false,
            pieLabels:null,
            pieValues:null,

            loadedBarData:false,
            barLabels:null,
            barValues:null,

            loadedBarData2:false,
            barLabels2:null,
            barValues2:null,

            counters:null,
            averages:null,
            participantsSurvey:0,
            totalSurveyReplies:0,
            averageUseTime:null,
            countGendersMostUsesIt:null,
        }
    },
    async mounted(){
        
        // this.counterGroupAnswer()
        // this.averageAnswer()
        this.totalParticipantsSurvey(1)
        this.surveyTotalReplies(1)
        this.counterGroupAnswer(4)

        this.countAgesRangesSocialNetwork(1)
        // this.countGenderMostUsesSocialNetwork(1)
        this.averageTimeUseSocialNetwork(1)

    },
    
    methods:{
        counterLabels(object){
            var keysObject = null
            if(object){
                keysObject = Object.keys(object)
            }
            return keysObject
        },
        counterValues(object){
            var valuesObject = null
            if(object){
                valuesObject = Object.values(object)
            }
            return valuesObject
        },
        async counterGroupAnswer(question_id){
            this.loadedPieData = false
            let request = await this.$store.dispatch('surveys/getAnswerCounterGroup',question_id);
            this.loadedPieData = true
            if(request.status==200){
                this.counters= request.data;
                this.pieLabels=this.counterLabels(request.data)
                this.pieValues=this.counterValues(request.data)
                
            }
           
        },

        async averageAnswer(question_id){

            let request = await this.$store.dispatch('surveys/getAnswerAverage',question_id);

            if(request.status==200){
                this.averages= request.data;
            }
           
        },

        async totalParticipantsSurvey(survey_id){

            let request = await this.$store.dispatch('surveys/getTotalParcipantsSurvey',survey_id);

            if(request.status==200){
                this.participantsSurvey = request.data.total;
            }
           
        },

        async surveyTotalReplies(survey_id){

            let request = await this.$store.dispatch('surveys/getSurveyTotalReplies',survey_id);

            if(request.status==200){
                this.totalSurveyReplies = request.data.total_replies;
            }
           
        },

        async countAgesRangesSocialNetwork(survey_id){
            this.loadedBarData2 = false

            let requestData ={
                survey_id:survey_id,
                base_question_id:4,
                to_count_question_id:2
            }

            let request = await this.$store.dispatch('surveys/countAnswersGroupedByOptions',requestData);
            this.loadedBarData2 = true

            if(request.status==200){
                this.countAgesRanges = request.data;
                this.barLabels2=this.counterLabels(request.data)
                let values = this.counterValues(request.data)

                if(values){
                    console.log(values)
                    this.barValues2 = []
                    var counter = 0
                    values.forEach(value => {
                        this.barValues2.push((value.counter/value.total)*100)
                        this.barLabels2[counter] = this.barLabels2[counter] + ` (${value.option})`

                        counter = counter + 1
                    });
                    
                }  
                // this.barValues2=this.counterValues(request.data)

                
                if(this.barValues2)
                    this.barValues2.push(0)
            }
           
        },

        async countGenderMostUsesSocialNetwork(survey_id){

            let requestData ={
                survey_id:survey_id,
                base_question_id:4,
                to_count_question_id:3
            }
            
            let request = await this.$store.dispatch('surveys/countAnswersGroupedByOptions',requestData);

            if(request.status==200){
                this.countGendersMostUsesIt = request.data;
            }
           
        },

        async averageTimeUseSocialNetwork(survey_id){
            this.loadedBarData = false
            let requestData ={
                survey_id:survey_id,
                base_question_id:4,
                to_average_questions_id_list:[5,6,7,8,9]
            }

            let request = await this.$store.dispatch('surveys/averagesAnswersGropedByOptions',requestData);
            this.loadedBarData = true
            if(request.status==200){
                this.barLabels=this.counterLabels(request.data)
                this.barValues=this.counterValues(request.data)
                
                if(this.barValues)
                    this.barValues.push(0)

            }
           
        },





    }

    
}
</script>


<style lang="css">
.title-card{
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;

}
.info-card{
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;
    
}
.container-plain{
    min-height: 100vh;
    background: #1376c7;
}

.title-card{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}
</style>