<template>

    <div class="container-plain d-flex justify-content-center align-items-center m-0 p-3">

        <card-container class="mt-5" width="700px" height="auto">
            <h3 class="mb-3 text-center title-card" v-if="survey">{{survey.title}}</h3>

            <form id="form-survey" v-if="answers">
                <div class="d-flex flex-wrap">

                    <div v-for="(question,index) in answers" class="col-12 col-md-6 mb-2 p-2" :key="index"> 
                        <div v-if="questions[index].type_answer=='text' || questions[index].type_answer=='number' || questions[index].type_answer=='email'" >
                            <input-data  v-model="question.answer_content" :inputName="questions[index].alias_answer" :type="questions[index].type_answer" :label="questions[index].question_text" />
                        </div>
                        <div  v-if="questions[index].type_answer=='option' && questions[index].values_array" >
                            <select-data v-model="question.answer_content" :options="questions[index].values_array" :label="questions[index].question_text"/>
                        </div>
                    </div>

                </div>
                <div class="my-1  text-center" v-if="this.emptyRequiredField">
                    <p class="alert-text">Se deben contestar todas las preguntas</p>
                </div>
                <div class="mt-3 text-center">
                    <button class="btn btn-primary w-100"  @click="saveAnswers">Enviar</button>
                </div>
            </form>
        </card-container>

    </div>

</template>

<script>
import {CardContainer,InputData,selectData} from '../components'
export default{
    name:'surveys',
    components:{
        CardContainer,
        InputData,
        selectData
    },
    data(){
        return{
            questions:null,
            answers:[],
            survey:null,
            emptyRequiredField: false
        }
    },
    mounted(){
        this.getQuestions()
        this.getSurvey()
    },
    computed:{
        // Select de todas las ventas
        // questions:{ get(){ return this.$store.getters["surveys/getQuestions"]; } },
        // survey:{ get(){ return this.$store.getters["surveys/getSurvey"]; } }
    },

    methods:{
        async saveAnswers(e){
            e.preventDefault()

            if(this.answers){
            
                this.emptyRequiredField = this.$controllerForm.validateForm('form-survey','all');
                
                if(!this.emptyRequiredField){
                    this.$controllerForm.desativeForm('form-survey')
                    let identification_field = this.answers.filter((answer)=>(answer.type_answer=="email"));
                    let requetObject ={
                        identification_field: identification_field[0]['answer_content'],
                        answers:this.answers
                    }
                    
                    let request = await this.$store.dispatch('surveys/saveAnswers',requetObject);
                    if(request && request.status==200){
                        this.$actionNotify.showNotification("success"," Registro Exitoso!","Se registro Encuesta con exito")
                        this.$controllerForm.clearForm('form-survey');
                        
                    }else{
                        this.$actionNotify.showNotification("error"," Intente de Nuevo!","Se produjo un error")
                    }
                    this.$controllerForm.activarForm('form-survey')
                }
            }
            
            
        },

        async getQuestions(){

            let request = await this.$store.dispatch('surveys/getQuestions',1);

            if(request && request.status==200){
                this.questions = request.data;
                this.initAnswerArray(this.questions)
            }
        },

        async getSurvey(){

            let request = await this.$store.dispatch('surveys/getSurvey',1);

            if(request && request.status==200){
                this.survey = request.data;
            }

        },

        initAnswerArray(questionArray){

            questionArray.map(question =>{

                this.answers.push({
                    question_id:question.id,
                    type_answer:question.type_answer,
                    answer_content:null
                })

                
            })

        }
    }
}
</script>


<style lang="css">

.container-plain{
    min-height: 100vh;
    background: #1376c7;
}

.title-card{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}

.alert-text{
    color: #DB4141;
    font-weight: bold;
    text-transform: uppercase;

}
</style>