<template>
    
    <div class="card-container p-5" :style="[cardStyles]">
        <slot/>
    </div>

</template>


<script>

export default{
    name:'card-container',

    props:{
        width:{
            type:String,
            
        },
        height:{
            type:String,
        }
        
    },

    computed:{
        cardStyles(){
            var data={
                width: this.width,
                height: this.height
            }
            return data;
        }
    }
 
}
</script>


<style lang="css">

.card-container{
    background:rgb(246, 247, 248);
    border-top: 5px solid rgb(59, 130, 211);
}

</style>