<script>
import { Pie } from "vue-chartjs";


export default{
    name:'chart-pie',
    extends: Pie,
    props: {
        chartdata:{
            type:Array,
            defaut:null
        }, 
        options:{
            type:Array,
            defaut:null
        }
    },
    mounted () {
        this.gradient = this.$refs.canvas
        .getContext("2d")
        .createLinearGradient(0, 0, 0, 450);
        this.gradient2 = this.$refs.canvas
        .getContext("2d")
        .createLinearGradient(0, 0, 0, 450);
        this.gradient3 = this.$refs.canvas
        .getContext("2d")
        .createLinearGradient(0, 0, 0, 450);

        


        this.gradient.addColorStop(0, "rgba(255, 0,0, 0.5)");
        this.gradient.addColorStop(0.5, "rgba(255, 0, 0, 0.25)");
        this.gradient.addColorStop(1, "rgba(255, 0, 0, 0)");

        this.gradient2.addColorStop(0, "rgba(0, 231, 255, 0.9)");
        this.gradient2.addColorStop(0.5, "rgba(0, 231, 255, 0.25)");
        this.gradient2.addColorStop(1, "rgba(0, 231, 255, 0)");

        this.gradient3.addColorStop(0, "rgba(146, 169, 215, 0.8)");
        this.gradient3.addColorStop(0.5, "rgba(132, 226, 162, 0.25)");
        this.gradient3.addColorStop(1, "rgba(0, 190, 255, 0.09)");

        this.renderChart(
        {
            labels: this.options,
            datasets: [
            {
                backgroundColor: [this.gradient, this.gradient2, this.gradient3, "#BBFF66", "#4D759A"],
                data: this.chartdata
            }
            ]
        },
        { responsive: true, maintainAspectRatio: false }
        );
    }
 
}
</script>


<style lang="css">

.card-container{
    background:rgb(246, 247, 248);
    border-top: 5px solid rgb(59, 130, 211);
}

</style>