<template>
    <div class="nav-bar">
        <router-link class="nav-bar-brand" :to="brandRedirectPath">
            <span>{{brandText}}</span>
        </router-link>

    </div>
</template>


<script>

export default{
    name:'navbar',

    props:{
        brandText:{ 
            type: String
        },
        brandRedirectPath:{
            type: String,
            default:"/"
        }
    }
    
}
</script>


<style lang="css">

.nav-bar{
    position: fixed;
    background: transparent;
    padding: 10px 10px;
    margin: 0;
    height: 100;

}
  
.nav-bar-brand{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size:2rem;
    text-transform: uppercase;
    color: white;
    /* text-shadow: -2px 0 #1376c7, 0 2px #1376c7, 2px 0 #1376c7, 0 -2px #1376c7; */
    text-align: center;
}

.nav-bar-brand:hover{
    color: white;
}

</style>