<template>
    
    <router-link v-if="redirectName" class="redirect-btn" :to="{name:redirectName}">{{text}}</router-link>

    <router-link v-else-if="redirectPath" class="redirect-btn" :to="redirectPath">{{text}}</router-link>
</template>


<script>

export default{
    name:'redirect-button',
    props:{
        text:{
            type:String
        },
        redirectName:{
            type:String
        },
        redirectPath:{
            type:String
        }
    }
}
</script>


<style lang="css">

.redirect-btn{
    text-decoration: none;
    font-size: 1.4rem;
    padding:1rem 3rem;
    border:none;
    background: #136fc5;
    color:#ffff;
    transition: 0.2s ease-out;
    font-weight:400;
    margin-right:20px;
}

.redirect-btn:hover{
    background: #0077ff;
    transition: 0.2s ease-out;
    color: #ffff;
}

</style>