<template>
    
    <div>
        <label class="label-input-data" :for="inputName">{{label}}</label>
        <select @input="$emit('inputChange', data)" v-model="data" class="input-data"> 
            <option v-for="(optionData,index) in options" :key="index" :value="optionData">{{optionData}}</option>
                
        </select>
    </div>
</template>


<script>

export default{
    name:'input-data',
    props:{
        options:{
            default: null
        },
        value:{
            default: null
        },
        inputName:{
            type:String
        },
        label:{
            type:String
        }
    },
    computed:{
        data:{
            get(){ return this.value; },
            set(value){ this.$emit('input', value); }
        }
    }
}
</script>


<style lang="css">

.label-input-data{
    display:block;
    margin-bottom: 5px;
    font-size:14px;
}
.input-data{
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid rgba(202, 201, 201, 0.932);
    border-radius: 5px;
}

input.input-data:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 179, 250, 0.5);
}

</style>